:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--base: #232136;
	--subtle: #908caa;
	--text: #e0def4;
	--love: #eb6f92;
	--gold: #f6c177;
	--rose: #ea9a97;
	--pine: #3e8fb0;
	--foam: #9ccfd8;
	--iris: #c4a7e7;
	--highlight-low: #2a283e;
	--highlight-med: #44415a;
	--highlight-high: #56526e;

	color-scheme: light dark;
	color: var(--text);
	background-color: var(--base);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: var(--text);
	text-decoration: inherit;
}

a:hover {
	color: var(--love);
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: var(--pine);
	cursor: pointer;
	transition: border-color 0.25s;
}

button:hover {
	border-color: var(--overlay);
}

button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
	:root {
		color: var(--text);

		--base: #faf4ed;
		--subtle: #797593;
		--text: #575279;
		--love: #b4637a;
		--gold: #ea9d34;
		--rose: #d7827e;
		--pine: #286983;
		--foam: #56949f;
		--iris: #907aa9;
		--highlight-low: #f4ede8;
		--highlight-med: #dfdad9;
		--highlight-high: #cecacd;
	}

	a:hover {
		color: var(--love);
	}

	button {
		background-color: var(--base);
	}
}
